---
const year = new Date().getFullYear();
---

<footer class="bg-white shadow w-full backdrop-blur-lg">
  <div class="max-w-screen-xl p-4 mx-auto flex justify-center">
    <span class="text-sm text-gray-500 text-center dark:text-gray-400">
      © {year}
      <a href="https://flowbite.com/" class="hover:underline">Cristian Laguna™</a>. All Rights Reserved.
    </span>
  </div>
</footer>

