---
const year = new Date().getFullYear();
---

<footer class="bg-white shadow backdrop-blur-lg w-full lg:w-full mx-auto">
  <div
    class="mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
      >© {year}
      <a href="https://flowbite.com/" class="hover:underline"
        >Cristian Laguna™</a
      >. All Rights Reserved.
    </span>
  </div>
</footer>
