<header
  class="flex justify-center items-center py-5 w-full lg:w-[1120px] mx-auto navbar"
>
  <!-- <img
    class="w-12 h-12 rounded-full"
    src="https://media.licdn.com/dms/image/C4E03AQH9_BOX6m9i0w/profile-displayphoto-shrink_400_400/0/1618503243951?e=2147483647&v=beta&t=rgR-Ds7PZrDN7TXQD6rleteqnMHXjbv6Kj1-TngRT1k"
    alt="Logo personal"
  /> -->
  <span></span>

  <nav class="flex flex-row gap-x-10 opacity-80">
    <a class="dark:text.white" href="#home">Inicio</a>
    <a class="dark:text.white" href="#experience">Experiencia</a>
    <a class="dark:text.white" href="#about">Sobre mi</a>
    <!-- <a class="dark:text.white" href="#projects">Proyectos</a> -->
    <a class="dark:text.white" href="#contact">Contacto</a>
  </nav>
</header>

<style>
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    opacity: 0.7;
  }
  a {
    text-decoration: none;
  }
</style>
