<header
  class="flex justify-center items-center py-5 w-full lg:w-[1120px] mx-auto navbar"
>
  <span></span>

  <nav class="flex flex-row gap-x-10 opacity-80">
    <a class="dark:text.white" href="#home">Inicio</a>
    <a class="dark:text.white" href="#experience">Experiencia</a>
    <a class="dark:text.white" href="#about">Sobre mi</a>
    <!-- <a class="dark:text.white" href="#projects">Proyectos</a> -->
    <!-- <a class="dark:text.white" href="#contact">Contacto</a> -->
  </nav>
</header>

<style>
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    opacity: 0.9;
  }

  @media (max-width: 767px) {
    .navbar {
      display: none;
    }
  }
  a {
    text-decoration: none;
  }
</style>
